<h1>Booking</h1>

<p><%= @owner_of_space %></p>

<!--
  Want to display:
    - Owner of the space = find storage_facility id and user_id from that
    -- To get this, pass through id in email param
    - Name of person booking space
-->