<h1>Store Next Door</h1>

<%= link_to 'Profiles', profiles_path %>

<!--Link to current facilities and bookings here-->

<%= link_to 'Current Properties', storage_facilities_path(current_user.id) unless current_user.nil? %>